@model IEnumerable<MenuItem>

@if (Model.Count() > 0)
{
    <div class="col-12 menu-restaurant post @Model.FirstOrDefault().Category.Name.Replace(" ",String.Empty)">
        <div class="row mt-5">
            @*this picks the very first item in the collection and displays its catgory name*@
            <h3 class="text-success"> @Model.FirstOrDefault().Category.Name </h3>
        </div>
        @foreach (var menuItem in Model)
        {
            <div class="border border-info rounded col-12" style="margin-bottom:10px; margin-top:10px; padding:10px">
                <div class="row">
                    <div class="col-md-3 col-sm-12">
                        <img src="@menuItem.Image" style="border-radius:5px;border:1px solid #bbb9b9; width:99%;" />
                    </div>
                    
                    <div class="col-md-9 col-sm-12">
                        <div class="row pr-3">
                            <div class="col-8">
                                <label class="text-primary" style="font-size:21px;color:maroon">@menuItem.Name</label>
                                @if (menuItem.Spicyness == "1")
                                {
                                    <img srcset="/images/mild.png" title="Mild" />
                                }
                                @if (menuItem.Spicyness == "2")
                                {
                                    <img srcset="/images/spicy.png" title="Spicy" />
                                }
                                @if (menuItem.Spicyness == "3")
                                {
                                    <img srcset="/images/veryspicy.png" title="Very Spicy" />
                                }
                            </div>
                            <div class="col-4 text-right" style="color:maroon">
                                <h4>$@(menuItem.Price / 100)</h4>
                            </div>
                        </div>
                        <div class="row col-12 text-justify d-none d-md-block">
                            @*because of the way it is stored in the db, we need just the text and not the html tags*@
                            <p>@Html.Raw(menuItem.Description)</p>
                        </div>
                        <div class="col-md-3 col-sm-12 offset-md-9 text-center">
                            <a asp-action="Details" class="btn btn-success form-control" asp-route-id="@menuItem.Id">Details</a>
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>
}
